<!-- <div class="photo-grid"> -->

  <div class="photo-grid">
    <div
      class="card-pic card-tall card-wide"
      style="background-image:url({{lilyAndDogs}})"
      (click)="openModal(template, lilyAndDogs, 'My wife, our late pups Ramona and Bixby, and me. Bixby was our first rescue dog who we found in Hocking Hills.')"
    >
    </div>
    <div
      class="card-pic card-tall"
      style="background-image:url({{lilyAndMe}})"
    >
    </div>
    <div
      class="card-pic card-tall"
      style="background-image:url({{meAndMrButt}})"
    >

    </div>
    <div
      class="card-pic card-tall"
      style="background-image:url({{ramona}})"
    >
    </div>
    <div
      class="card-pic card-tall"
      style="background-image:url({{bixby}})"
    >
      5
    </div>
    <div
      class="card-pic"
      style="background-image:url({{mrButt}})"
    >
    </div>
    <div
      class="card-pic card-tall"
      style="background-image:url({{squittens}})"
    >
      7
    </div>
    <div
      class="card-pic"
      style="background-image:url('https://images.unsplash.com/photo-1583483425010-c566431a7710?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80')"
    >
      8
    </div>
    <div
      class="card-pic"
      style="background-image:url('https://images.unsplash.com/photo-1583500557349-fb5238f8d946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80')"
    >
      9
    </div>
    <div
      class="card-pic"
      style="background-image:url('https://images.unsplash.com/photo-1583468323330-9032ad490fed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80')"
    >
      10
    </div>
    <div
      class="card-pic"
      style="background-image:url('https://images.unsplash.com/photo-1583425423320-2386622cd2e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')"
    >
      11
    </div>
    <div
      class="card-pic"
      style="background-image:url('https://images.unsplash.com/photo-1583518257225-f9a8081f6a84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')"
    >
      12
    </div>
  </div>
  
  <ng-template #template>
    <div class="modal-header">
      
      <img src="{{source}}" alt="">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    <div class="modal-body">
      {{content}}
    </div>
  </ng-template>

  <!-- <img style="height: 240px;" src="{{lilyAndDogs}}" alt="" class="image">
  <img style="height: 240px;" src="{{meAndMrButt}}" alt="" class="image"> -->
  
  <!-- <div class="card"
    style="background-image: url({{lilyAndDogs}});">
  </div>
  <div class="card card-tall"
    style="background-image: url({{meAndMrButt}});">
  </div>
  <div class="card card-tall"
    style="background-image: url({{lilyAndMe}});">
  </div>
  <div class="card"
    style="background-image: url({{mrButt}});">
  </div>
  <div class="card card-tall"
    style="background-image: url({{ramona}});">
  </div>
  <div class="card card-tall"
    style="background-image: url({{bixby}});">
  </div> -->

  <!-- <app-image
    [source]="lilyAndDogs">
  </app-image>
  <app-image
    [source]="meAndMrButt"
    [classes]="'card-tall'">
  </app-image>
  <app-image
    [source]="lilyAndMe"
    [classes]="'card-tall'">
  </app-image>
  <app-image [source]="mrButt"></app-image>
  <app-image
    [source]="ramona"
    [classes]="cardTallClass">
  </app-image>
  <app-image
    [source]="bixby">
  </app-image>
</div>
 -->
