<div class="footer">
  <div class="footer-col">
    <h3>Find Me</h3>
    <ul>
      <li><a href="https://github.com/BixbyRamone">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/gregory-draheim/">Linked In</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h3>Get In Touch</h3>
    <ul>
      <li>GregoryTDraheim@gmail.com</li>
      <li>Greg.Draheim@mindsmatterCleveland.org</li>
      <li>Phone: 216-469-8131</li>
    </ul>
  </div>
  <!-- <div class="footer-col">
    <h3>This </h3>
    <ul>
      <li>This</li>
      <li>That</li>
      <li>The Other</li>
    </ul>
  </div> -->
  
</div>