<div class="card">
  <p>This site was developed using:</p>
  <ul style="list-style: none;">
    <li>Angular 9</li>
    <li>Typescript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Sass</li>
    <li>Ngx Bootstrap</li>
  </ul>
  <br>
  <p>Please check out my work-in-progress site for Minds Matter <a href="https://mmcletets.azurewebsites.net/">here </a><br>
    Feel free to mess around with it</p>
  <!-- <p>Feel free to mess around with it</p> -->
  <ul style="list-style: none;">
    <li>Email me to gain access info</li>
    <li>Check it out on <a href="https://github.com/BixbyRamone/Hammond">GitHub</a></li>
  </ul>
  <br>
  <p>Take a look at the WordPress site I maintain for Minds Matter <a href="http://mindsmattercleveland.org/">here</a></p>

  <ul style="list-style: none;">
    <li class=""><a href="https://github.com/BixbyRamone"><i class="link-i fa fa-github"></i></a></li>
    <li class=""><a href="https://www.linkedin.com/in/gregory-draheim/"><i class="link-i fa fa-linkedin"></i></a></li>
  </ul>
 
</div>