<div class="photo-head">
   <div class="about-pic"
   style="background-image: url(../../assets/IMG_0018_cropped.jpg);"></div>
</div>
<div class="card">
<p>Greetings,</p>
   <p>   My name is Gregory Draheim, and I am a full stack web developer.
       Feel free to click around my site to have a look at my skillset.
        You may also find my volunteering with Minds Matter Cleveland, or the Cleveland Kennel.
         Minds Matter is a mentoring program for high-achieving, low-income students,
          where they can develop skills for applying to colleges. Through Cleveland Kennel,
           my wife and I have fostered multiple dogs, with a focus on those with special needs.
            I am also a bit of a paleofile, with a love of learning about earth’s past.</p>
  <p>I have <strong style="text-decoration: underline;" (click)="setAsActive()">multiple projects</strong> with Minds Matter, maintaining their website, as well as a web application.
      The web application is built using Angular 6/typescript front end, and a .Net Core/C# back end,
       with an SQL database, and is deployed using Azure. The site is intended to provide a social hub
        for connecting mentors and students, tracking student ACT scores, and reviewing their progress
         prior to session. The current plan is to integrate it with a SalesForce backend.
   </p>
</div>